@charset "utf-8";
/*リセットCSS*/
p, h1, h2, h3, h4, ul, ol, dl, dd, body, form, figure{
	padding: 0;
	margin: 0;
}
img {
	vertical-align: bottom;
	border-style: none;
	margin: 0;
}
ul, ol {
	list-style-type: none;
}
main {
	display: block;
}

body{
	line-height: 2em;
}


/*===================
ヘッダー
===================*/
header {
	background-color: #fff;
	width: 180px;
	height: 100%;
	position: fixed;
}
header h1{
	text-align: center;
	margin-top:30px;
}
header ul{
	width: 100%;
	padding-top:80px;
	font-size:16px;
}
header li a{
	display: block;
	padding:20px 0 20px 20px;
	text-decoration: none;
	color:#000;
	position: relative;
}
header li a:hover{
	background-color: #000;
	color:#fff;
  }
.last a{
	padding:20px 0 20px;
	color:#fff;
}


/*===================
メイン
===================*/
.inner{
	margin-left:180px;
}
p.main-image{
	background-image: url("img/main-image.png"); 
	background-repeat: no-repeat;
	background-position:center center;
	background-size: cover;
	height: 100vh;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: -1;
}
/*予約フォーム*/
.form{
	position: absolute;
	bottom:8%;
	left: 50%;
	transform: translateX(-50%);
	margin-left: 90px;
	background-color: rgb(255, 255, 255,0.8);
	padding:30px 50px;
	display: flex;
	justify-content: space-around;
}
.form p, input{
	margin-right: 10px;
}
input{
	line-height: 2.5em;
	border: 1px solid #555;
	border-radius: 2px;
	width: 150px;
	text-align: center;
}
input.people{
	width: 80px;
}
input.yellow{
	background-color: #f7d644;
	box-shadow: 2px 2px 2px gray;
	width: 80px;
}
input.yellow:hover{
	background-color:rgb(255, 180, 95);
}
input.yellow:active {
	transform: translateY(2px);
	box-shadow: 0px;
  }
/*コンテンツ*/
.inner2{
	width:1020px;
	margin:50px auto 0;
}
h2{
	font-size:50px;
	padding:50px 0;
}
section.lounge{
	display: flex;
	margin-bottom:150px;
}

.lounge figure{
	margin-left:-30px;
}
h3{
	font-size:30px;
	margin-bottom:30px;
}
.lounge-text{
	margin-left:50px;
}
.news{
	width: 70%;
	margin:0 auto;
}
.news h3{
	text-align: center;
	margin-bottom:80px;
	
}
.news li{
	padding:20px;
}
.news a{
	text-decoration: none;
	color: #000;
}
.news a:hover{
	text-decoration: underline;
}
.news .topline{
	width:100%;
	height: 1px;
	background-color:#555;
	margin:0 auto 50px;
}
.news .underline{
	width:100%;
	height: 1px;
	background-color:#555;
	margin:50px auto 150px;
}
.rooms{
	background-color:rgb(255, 180, 95);
	padding-bottom:80px;
}
.rooms .suite{
	display:flex;
	justify-content: space-around;
}
.suite figure:first-of-type{
	margin-bottom: 80px;
}
.suite .btn{
	text-align: center;
}
.rooms .single{
	display:flex;
	align-items: baseline;
	justify-content: space-around;
}
.suite-txt{
	margin-bottom:50px;
}
.cafebar{
	margin-top:100px;
}
.cafebar .cafe-bar{
	display: flex;
	margin:50px 0;
	text-align: center;
	
}
.cafe-bar p{
	padding:30px 0;
}
.bar p{
	padding-top:30px;
}	
.cafe{
	background-color: #f1dcaa;
	width: 50%;
}
.cafe h2::after{
	content: "\f0f4";
	font-weight: 900;
    font-family: "Font Awesome 5 Free";
	color: #313131;
	padding-left:10px;
}
.bar{
	background-color: rgb(7, 7, 71);
	width: 50%;
	color: #fff;
}
.bar h2::after{
	content: "\f57b";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	font-size:85%;
	padding-left:10px;
}
.cafebar figure{
	text-align: center;
	margin-top:50px;
}
.cafebar figure a:hover{
	opacity: 0.8;
}
.btn a{
	display: inline-block;
	font-size:20px;
	padding:10px 30px;
	border:2px solid #000;
	border-radius: 30px;
	text-decoration: none;
	background-color: #fff;
	color:#000;
}
.btn a:hover{
	opacity: 0.8;
}
.event{
	background-color:#f7d644;
	margin-top:150px;
	padding-bottom: 80px;
}
.event p{
	text-align: center;
	padding-top:30px
}
.event p:first-of-type{
	margin-bottom:30px;
}
.event figure{
	text-align: center;
}
.event p a{
	font-family: "HG創英角ポップ体";
	font-size: 22px;
	color: rgb(219, 0, 0);
	background-color: #fff;
	padding:10px;
	text-decoration: none;
}
.talk-text{
	width:300px;
	margin:0 auto;
	padding:50px 0 50px;
}
.access{
	margin:100px 0 100px;
}
.access p.map{
	margin-top:30px
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}
.access p iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.btn-booking{
	text-align: center;
	margin-top:150px;
}
.btn-booking a{
	font-size:30px;
	padding:30px 50px;
	background-color:#fff;
	border: 2px solid #000;
	border-radius: 50px;
	text-decoration: none;
	color:#000;
}
.btn-booking a:hover{
	color:#fff;
	background-color: #000;
	border: 2px solid #fff;
}


/*===================
フッター
===================*/
footer{
	width:100%; 
	background-color: rgba(22,22,22,1.00);
}
footer small{
	color:#fff;
	font-size: 12px;
	display: block;
	text-align: center;
	line-height: 2;
}


/*===================
メディアクエリ
===================*/
@media screen and (max-width:1040px){
.inner, .form{
	margin-left: 0;
}
img, figure{
	max-width: 100%;
	height: auto;
	text-align: center;
}
header{
    width: 100%;
	height:80px;
	position: relative;
}
header h1{
	position: absolute;
	left:-50vw;
	margin:0 auto;
	text-align: center;
}
nav ul{
	width: 100%;
	text-align: center;
	padding-top:80px;
}
	nav ul li{
	display: none;
	border: 1px solid #999;
	background-color: #fff;
}
nav li a{
	padding: 30px 0;
    font-size: 18px;
    display: block;
    width: 100%;
}
    
#nav-toggle {
	width: 60px;
	height: 60px;
	position: absolute;
	top:10px;
	right: 10px;
}
#nav-toggle span {
		width: 30px;
		height: 1px;
		background-color: #595858;
		position: absolute;
		left: 15px;
		display: block;
		transition: 0.3s;
	}
	#nav-toggle span:nth-child(1) {
		top: 20px;
	}
	#nav-toggle span:nth-child(2) {
		top: 30px;
	}
	#nav-toggle span:nth-child(3) {
		top: 40px;
	}
	#nav-toggle.open span:nth-child(1) {
		transform: rotate(315deg);
		top: 30px;
	}
	#nav-toggle.open span:nth-child(2) {
		width:0;
		left: auto;
	}
	#nav-toggle.open span:nth-child(3) {
		top:30px;
		transform:rotate(-315deg);
	}
	#nav-toggle.open + ul{
		display: block;
	}
	.inner2{
		width:100%;
		margin: 0 auto;
	}
}


@media screen and (max-width:768px){
	header{
		z-index: 100;
	}
	p.main-image{
		align-items: flex-start;
		padding-top:5%;
	}
	.form{
		width: 320px;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		bottom: 0;
		padding:5px 30px;
	}
	input{
		margin-top: 20px;
	}
	input.yellow{
		margin-bottom:20px;
	}
	.inner2{
		margin:0 auto;
	}
	.lounge {
		margin:0 auto;
		flex-direction: column;
	}
	.lounge figure{
		margin:0px;
	}
	.lounge-text{
		width:100%;
		margin: 0 auto;
		margin-left: 0;
	}
	.lounge-text h3{
		margin-top:30px;
	}
	.lounge p{
		width:100%;
		margin: 0 auto;
	}
	p.lounge-2{
		margin-left: 0;
		text-align: left;
	}
	.rooms{
		padding-bottom: 0;
	}
	.suite{
		flex-direction: column;
	}
	.suite p{
		padding-left:0;
	}
	.suite figure:first-of-type{
		margin-bottom: 0px;
	}
	.single{
		display: flex;
	}
	.cafe-bar{
		flex-direction: column;
	}
	.cafe-bar figure, .cafe-bar p{
		text-align: center;
	}
	.cafe-bar figure{
		width: 100%;
	}
	.cafe{
		width: 100%;
	}
	.bar{
		width: 100%;
	}
	h1{
		text-align: left;
	}
	h2{
		text-align: center;
	}
	h3{
		margin-left:0;
	}
	h3.time{
		text-align: center;
	}
	.section.rooms{
		flex-direction: column;
	}
}

@media screen and (min-width:769px){
	nav{
		display: flex !important
	}
}